In [1]:
cd ..

/Users/BEugeneSmith/Desktop/projects/PodcastAnalysis

In [2]:
from Analysis.Helper import *
gen = datetime.now()
start = datetime(2019,1,1)
end = datetime(2019,7,1)
aai = AudioAnalysisInput(start=start,end=end)

/Users/BEugeneSmith/Desktop/projects/PodcastAnalysis/Analysis/Helper.py:59: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  return pd.concat(loaded_files).reset_index(drop=True),loaded_file_paths

In [12]:

data = aai.data[(aai.data['datePlayed']>=start)]
data.columns

Index(['add_to_play_seconds', 'album', 'artist', 'composer', 'dateAdded',
       'datePlayed', 'dateReleased', 'descriptionShort', 'duration', 'genre',
       'name', 'playedCount', 'played_holiday_ind', 'played_weekend_ind',
       'release_to_add_seconds', 'release_to_play_seconds', 'reportRunDate',
       'year', 'category', 'frequency', 'network', 'default_duration',
       'PoD_played', 'dur_bin', 'single_skip_ind', 'batch_skip_ind',
       'weekPlayed', 'weekAdded', 'weekReleased', 'played_same_week_ind',
       'played_same_date_ind'],
      dtype='object')

In [13]:
filt_data = data[['played_same_week_ind','weekReleased','weekPlayed','category','album']]

In [15]:
filt_data.head()

,played_same_week_ind,weekReleased,weekPlayed,category,album
5,True,2019_01,2019_01,music,Composers Datebook
6,False,2018_01,2019_01,design,Clever
7,False,2018_52,2019_01,tech,Linear Digressions
8,False,2018_01,2019_01,design,Design Matters with Debbie Millman
9,True,2019_01,2019_01,music,KEXP Song of the Day

In [24]:
same_week_data = filt_data[filt_data['played_same_week_ind']].pivot_table(index="weekPlayed",columns="category",values="album",aggfunc="count").fillna(0)

In [26]:
all_week_data = filt_data.pivot_table(index="weekPlayed",columns="category",values="album",aggfunc="count").fillna(0)

In [64]:
same_week_ratio = (same_week_data/all_week_data).fillna(0)
same_week_ratio.index = list(map(lambda x: int(x[-2:]),same_week_ratio.index))
same_week_ratio = same_week_ratio.stack()
same_week_ratio_stack = pd.DataFrame(same_week_ratio).reset_index()
same_week_ratio_stack.columns = ["day","topic","value"]

In [65]:
topics = ["comedy","design","entertainment","finance","food","interview","music","news","politics","society","tech"]
# same_week_ratio_stack['topic'] = same_week_ratio_stack['topic'].apply(lambda x: topics.index(x))

In [68]:
same_week_ratio_stack.to_csv(gen.strftime('listen_lag_ratio_data_%Y%m%d.csv'),index=False)

In [42]:
same_week_ratio

     day          topic     value
0      1         comedy  0.600000
1      1         design  0.666667
2      1  entertainment  0.000000
3      1        finance  0.800000
4      1           food  1.000000
5      1      interview  0.000000
6      1          music  0.875000
7      1           news  0.863636
8      1       politics  0.500000
9      1        society  0.833333
10     1           tech  0.200000
11     2         comedy  1.000000
12     2         design  1.000000
13     2  entertainment  0.000000
14     2        finance  1.000000
15     2           food  0.000000
16     2      interview  1.000000
17     2          music  0.909091
18     2           news  0.923077
19     2       politics  1.000000
20     2        society  0.250000
21     2           tech  1.000000
22     3         comedy  1.000000
23     3         design  0.666667
24     3  entertainment  0.000000
25     3        finance  1.000000
26     3           food  0.000000
27     3      interview  0.500000
28     3          music  0.916667
29     3           news  0.947368
..   ...            ...       ...
256   24        finance  0.000000
257   24           food  0.000000
258   24      interview  0.000000
259   24          music  1.000000
260   24           news  1.000000
261   24       politics  1.000000
262   24        society  1.000000
263   24           tech  0.000000
264   25         comedy  0.571429
265   25         design  0.600000
266   25  entertainment  0.000000
267   25        finance  0.666667
268   25           food  0.500000
269   25      interview  0.000000
270   25          music  0.666667
271   25           news  0.777778
272   25       politics  0.285714
273   25        society  0.833333
274   25           tech  0.666667
275   26         comedy  1.000000
276   26         design  0.800000
277   26  entertainment  1.000000
278   26        finance  1.000000
279   26           food  1.000000
280   26      interview  0.000000
281   26          music  1.000000
282   26           news  1.000000
283   26       politics  1.000000
284   26        society  0.944444
285   26           tech  0.666667

[286 rows x 3 columns]

In [40]:
f2

     day          topic     value
0      1         comedy  0.600000
1      1         design  0.666667
2      1  entertainment  0.000000
3      1        finance  0.800000
4      1           food  1.000000
5      1      interview  0.000000
6      1          music  0.875000
7      1           news  0.863636
8      1       politics  0.500000
9      1        society  0.833333
10     1           tech  0.200000
11     2         comedy  1.000000
12     2         design  1.000000
13     2  entertainment  0.000000
14     2        finance  1.000000
15     2           food  0.000000
16     2      interview  1.000000
17     2          music  0.909091
18     2           news  0.923077
19     2       politics  1.000000
20     2        society  0.250000
21     2           tech  1.000000
22     3         comedy  1.000000
23     3         design  0.666667
24     3  entertainment  0.000000
25     3        finance  1.000000
26     3           food  0.000000
27     3      interview  0.500000
28     3          music  0.916667
29     3           news  0.947368
..   ...            ...       ...
256   24        finance  0.000000
257   24           food  0.000000
258   24      interview  0.000000
259   24          music  1.000000
260   24           news  1.000000
261   24       politics  1.000000
262   24        society  1.000000
263   24           tech  0.000000
264   25         comedy  0.571429
265   25         design  0.600000
266   25  entertainment  0.000000
267   25        finance  0.666667
268   25           food  0.500000
269   25      interview  0.000000
270   25          music  0.666667
271   25           news  0.777778
272   25       politics  0.285714
273   25        society  0.833333
274   25           tech  0.666667
275   26         comedy  1.000000
276   26         design  0.800000
277   26  entertainment  1.000000
278   26        finance  1.000000
279   26           food  1.000000
280   26      interview  0.000000
281   26          music  1.000000
282   26           news  1.000000
283   26       politics  1.000000
284   26        society  0.944444
285   26           tech  0.666667

[286 rows x 3 columns]